body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

/* HEADER */
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #002147;
  padding: 15px 30px;
  color: white;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 14px;
}

/* HERO */
.hero {
  position: relative;
  height: 500px;
  background: url("https://images.unsplash.com/photo-1523050854058-8df90110c9f1")
              no-repeat center center/cover;
}

/* ADMISSION BANNER */
.admission-banner {
  position: absolute;
  bottom: 40px;
  left: 40px;
  background: #f5b400;
  padding: 20px 40px;
}

.admission-banner h1 {
  margin: 0;
  color: #002147;
}

/* CHATBOT */
.chatbot {
  position: absolute;
  right: 30px;
  top: 50px;
  background: white;
  width: 280px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0,0,0,0.3);
}

.chatbot h3 {
  text-align: center;
  margin-top: 0;
}

#chat-box {
  height: 220px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 14px;
}

.user {
  text-align: right;
  color: blue;
  margin: 6px 0;
}

.bot {
  text-align: left;
  color: green;
  margin: 6px 0;
}

.chat-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 8px;
}

.chat-buttons button {
  flex: 1 1 45%;
  background: #f5b400;
  border: none;
  padding: 6px;
  cursor: pointer;
  border-radius: 4px;
}

.chatbot input {
  width: 100%;
  padding: 7px;
  margin-bottom: 5px;
}

.chatbot button {
  width: 100%;
  padding: 7px;
  background: #002147;
  color: white;
  border: none;
  cursor: pointer;
}